USE [BANCHILE_CMS]
GO
/****** Object:  Table [dbo].[CMS_Categoria]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[IdCategoriaPadre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMS_Contenido]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_Contenido](
	[IdContenido] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[CuerpoHTML] [nvarchar](max) NOT NULL,
	[IdCategoria] [int] NULL,
	[Estado] [varchar](20) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[IdUsuarioAutor] [int] NULL,
	[EsDestacado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdContenido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMS_ContenidoMultimedia]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_ContenidoMultimedia](
	[IdContenidoMultimedia] [int] IDENTITY(1,1) NOT NULL,
	[IdContenido] [int] NULL,
	[IdArchivo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdContenidoMultimedia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMS_ContenidoRol]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_ContenidoRol](
	[IdContenidoRol] [int] IDENTITY(1,1) NOT NULL,
	[IdContenido] [int] NULL,
	[IdRol] [int] NULL,
	[Permiso] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdContenidoRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMS_HistorialContenido]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_HistorialContenido](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdContenido] [int] NULL,
	[IdUsuario] [int] NULL,
	[FechaCambio] [datetime] NULL,
	[Comentario] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMS_Multimedia]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_Multimedia](
	[IdArchivo] [int] IDENTITY(1,1) NOT NULL,
	[NombreOriginal] [nvarchar](200) NOT NULL,
	[ArchivoBase64] [text] NOT NULL,
	[TipoMIME] [varchar](100) NULL,
	[IdUsuarioSubio] [int] NULL,
	[FechaSubida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMS_Rol]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMS_Usuario]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](200) NOT NULL,
	[Usuario] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[UltimoLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMS_UsuarioRol]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_UsuarioRol](
	[IdUsuarioRol] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuarioRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CMS_Contenido] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[CMS_Contenido] ADD  DEFAULT ((0)) FOR [EsDestacado]
GO
ALTER TABLE [dbo].[CMS_HistorialContenido] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[CMS_Multimedia] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Categoria_Actualizar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ACTUALIZAR CATEGORIA
CREATE PROCEDURE [dbo].[usp_CMS_Categoria_Actualizar]
    @IdCategoria INT,
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(250),
    @IdCategoriaPadre INT = NULL
AS
BEGIN
    UPDATE CMS_Categoria
    SET 
        Nombre = @Nombre,
        Descripcion = @Descripcion,
        IdCategoriaPadre = @IdCategoriaPadre
    WHERE IdCategoria = @IdCategoria;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Categoria_Crear]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. CREAR CATEGORIA
CREATE PROCEDURE [dbo].[usp_CMS_Categoria_Crear]
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(250),
    @IdCategoriaPadre INT = NULL
AS
BEGIN
    INSERT INTO CMS_Categoria (Nombre, Descripcion, IdCategoriaPadre)
    VALUES (@Nombre, @Descripcion, @IdCategoriaPadre);
    
    SELECT SCOPE_IDENTITY() AS IdCategoriaCreada;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Categoria_Eliminar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. ELIMINAR CATEGORIA
CREATE PROCEDURE [dbo].[usp_CMS_Categoria_Eliminar]
    @IdCategoria INT
AS
BEGIN
    -- En un modelo sin FKs, esto deja "huérfanos" los contenidos 
    -- y subcategorías. Se asume que la lógica de negocio maneja esto.
    DELETE FROM CMS_Categoria WHERE IdCategoria = @IdCategoria;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Categoria_Listar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR TODAS LAS CATEGORIAS (Read All)
CREATE PROCEDURE [dbo].[usp_CMS_Categoria_Listar]
AS
BEGIN
    SELECT * FROM CMS_Categoria ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Categoria_ObtenerPorId]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OBTENER CATEGORIA POR ID (Registro Único)
CREATE PROCEDURE [dbo].[usp_CMS_Categoria_ObtenerPorId]
    @IdCategoria INT
AS
BEGIN
    SELECT * FROM CMS_Categoria WHERE IdCategoria = @IdCategoria;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Contenido_Actualizar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ACTUALIZAR CONTENIDO
CREATE PROCEDURE [dbo].[usp_CMS_Contenido_Actualizar]
    @IdContenido INT,
    @Titulo NVARCHAR(200),
    @CuerpoHTML NVARCHAR(MAX),
    @IdCategoria INT = NULL,
    @Estado VARCHAR(20),
    @IdUsuarioAutor INT, -- Opcional, quizás solo el que modifica
    @EsDestacado BIT
AS
BEGIN
    UPDATE CMS_Contenido
    SET 
        Titulo = @Titulo,
        CuerpoHTML = @CuerpoHTML,
        IdCategoria = @IdCategoria,
        Estado = @Estado,
        IdUsuarioAutor = @IdUsuarioAutor, -- Re-asigna autor
        EsDestacado = @EsDestacado,
        FechaModificacion = GETDATE() -- Actualiza fecha de modificación
    WHERE IdContenido = @IdContenido;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Contenido_Crear]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. CREAR CONTENIDO
CREATE PROCEDURE [dbo].[usp_CMS_Contenido_Crear]
    @Titulo NVARCHAR(200),
    @CuerpoHTML NVARCHAR(MAX),
    @IdCategoria INT = NULL,
    @Estado VARCHAR(20),
    @IdUsuarioAutor INT,
    @EsDestacado BIT = 0
AS
BEGIN
    INSERT INTO CMS_Contenido (Titulo, CuerpoHTML, IdCategoria, Estado, IdUsuarioAutor, EsDestacado, FechaModificacion)
    VALUES (@Titulo, @CuerpoHTML, @IdCategoria, @Estado, @IdUsuarioAutor, @EsDestacado, NULL);
    
    SELECT SCOPE_IDENTITY() AS IdContenidoCreado;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Contenido_Eliminar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. ELIMINAR CONTENIDO
CREATE PROCEDURE [dbo].[usp_CMS_Contenido_Eliminar]
    @IdContenido INT
AS
BEGIN
    DELETE FROM CMS_Contenido WHERE IdContenido = @IdContenido;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Contenido_Listar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR TODO EL CONTENIDO (Read All)
CREATE PROCEDURE [dbo].[usp_CMS_Contenido_Listar]
AS
BEGIN
    SELECT * FROM CMS_Contenido ORDER BY FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Contenido_ListarPorCategoria]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. (BONUS) LISTAR CONTENIDO POR CATEGORIA
CREATE PROCEDURE [dbo].[usp_CMS_Contenido_ListarPorCategoria]
    @IdCategoria INT
AS
BEGIN
    SELECT * FROM CMS_Contenido 
    WHERE IdCategoria = @IdCategoria
    ORDER BY FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Contenido_ObtenerPorId]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OBTENER CONTENIDO POR ID (Registro Único)
CREATE PROCEDURE [dbo].[usp_CMS_Contenido_ObtenerPorId]
    @IdContenido INT
AS
BEGIN
    SELECT * FROM CMS_Contenido WHERE IdContenido = @IdContenido;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_ContenidoMultimedia_Asignar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. ASIGNAR ARCHIVO A CONTENIDO (Create)
CREATE PROCEDURE [dbo].[usp_CMS_ContenidoMultimedia_Asignar]
    @IdContenido INT,
    @IdArchivo INT
AS
BEGIN
    INSERT INTO CMS_ContenidoMultimedia (IdContenido, IdArchivo)
    VALUES (@IdContenido, @IdArchivo);
    
    SELECT SCOPE_IDENTITY() AS IdContenidoMultimediaCreado;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_ContenidoMultimedia_ListarPorContenido]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR ARCHIVOS DE UN CONTENIDO (Read All - por Contenido)
CREATE PROCEDURE [dbo].[usp_CMS_ContenidoMultimedia_ListarPorContenido]
    @IdContenido INT
AS
BEGIN
    SELECT 
        M.IdArchivo, 
        M.NombreOriginal, 
        M.TipoMIME,
        CM.IdContenidoMultimedia -- El ID de la asignación
    FROM CMS_Multimedia M
    JOIN CMS_ContenidoMultimedia CM ON M.IdArchivo = CM.IdArchivo
    WHERE CM.IdContenido = @IdContenido;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_ContenidoMultimedia_ObtenerPorId]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OBTENER RELACIÓN POR ID (Registro Único)
CREATE PROCEDURE [dbo].[usp_CMS_ContenidoMultimedia_ObtenerPorId]
    @IdContenidoMultimedia INT
AS
BEGIN
    SELECT * FROM CMS_ContenidoMultimedia WHERE IdContenidoMultimedia = @IdContenidoMultimedia;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_ContenidoMultimedia_Quitar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ACTUALIZAR (No aplica)

-- 5. QUITAR ARCHIVO DE CONTENIDO (Delete)
CREATE PROCEDURE [dbo].[usp_CMS_ContenidoMultimedia_Quitar]
    @IdContenidoMultimedia INT
AS
BEGIN
    DELETE FROM CMS_ContenidoMultimedia WHERE IdContenidoMultimedia = @IdContenidoMultimedia;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_ContenidoRol_ActualizarPermiso]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ACTUALIZAR PERMISO
CREATE PROCEDURE [dbo].[usp_CMS_ContenidoRol_ActualizarPermiso]
    @IdContenidoRol INT,
    @Permiso VARCHAR(50)
AS
BEGIN
    UPDATE CMS_ContenidoRol
    SET Permiso = @Permiso
    WHERE IdContenidoRol = @IdContenidoRol;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_ContenidoRol_AsignarPermiso]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. ASIGNAR PERMISO (Create)
CREATE PROCEDURE [dbo].[usp_CMS_ContenidoRol_AsignarPermiso]
    @IdContenido INT,
    @IdRol INT,
    @Permiso VARCHAR(50)
AS
BEGIN
    INSERT INTO CMS_ContenidoRol (IdContenido, IdRol, Permiso)
    VALUES (@IdContenido, @IdRol, @Permiso);
    
    SELECT SCOPE_IDENTITY() AS IdContenidoRolCreado;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_ContenidoRol_ListarPorContenido]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR PERMISOS DE UN CONTENIDO (Read All - por Contenido)
CREATE PROCEDURE [dbo].[usp_CMS_ContenidoRol_ListarPorContenido]
    @IdContenido INT
AS
BEGIN
    SELECT * FROM CMS_ContenidoRol 
    WHERE IdContenido = @IdContenido;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_ContenidoRol_ObtenerPorId]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OBTENER PERMISO POR ID (Registro Único)
CREATE PROCEDURE [dbo].[usp_CMS_ContenidoRol_ObtenerPorId]
    @IdContenidoRol INT
AS
BEGIN
    SELECT * FROM CMS_ContenidoRol WHERE IdContenidoRol = @IdContenidoRol;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_ContenidoRol_QuitarPermiso]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. QUITAR PERMISO (Delete)
CREATE PROCEDURE [dbo].[usp_CMS_ContenidoRol_QuitarPermiso]
    @IdContenidoRol INT
AS
BEGIN
    DELETE FROM CMS_ContenidoRol WHERE IdContenidoRol = @IdContenidoRol;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_HistorialContenido_ListarPorContenido]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR HISTORIAL DE UN CONTENIDO (Read All - por Contenido)
CREATE PROCEDURE [dbo].[usp_CMS_HistorialContenido_ListarPorContenido]
    @IdContenido INT
AS
BEGIN
    SELECT * FROM CMS_HistorialContenido 
    WHERE IdContenido = @IdContenido
    ORDER BY FechaCambio DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_HistorialContenido_ObtenerPorId]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OBTENER REGISTRO DE HISTORIAL POR ID (Registro Único)
CREATE PROCEDURE [dbo].[usp_CMS_HistorialContenido_ObtenerPorId]
    @IdHistorial INT
AS
BEGIN
    SELECT * FROM CMS_HistorialContenido WHERE IdHistorial = @IdHistorial;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_HistorialContenido_Registrar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. REGISTRAR CAMBIO (Create)
CREATE PROCEDURE [dbo].[usp_CMS_HistorialContenido_Registrar]
    @IdContenido INT,
    @IdUsuario INT,
    @Comentario NVARCHAR(250)
AS
BEGIN
    INSERT INTO CMS_HistorialContenido (IdContenido, IdUsuario, Comentario)
    VALUES (@IdContenido, @IdUsuario, @Comentario);
    
    SELECT SCOPE_IDENTITY() AS IdHistorialCreado;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Multimedia_Actualizar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ACTUALIZAR MULTIMEDIA (Ej. Renombrar)
CREATE PROCEDURE [dbo].[usp_CMS_Multimedia_Actualizar]
    @IdArchivo INT,
    @NombreOriginal NVARCHAR(200)
AS
BEGIN
    -- Generalmente no se actualiza el Base64, se sube uno nuevo.
    -- Solo actualizamos el nombre.
    UPDATE CMS_Multimedia
    SET 
        NombreOriginal = @NombreOriginal
    WHERE IdArchivo = @IdArchivo;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Multimedia_Crear]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. CREAR MULTIMEDIA (Subir archivo)
CREATE PROCEDURE [dbo].[usp_CMS_Multimedia_Crear]
    @NombreOriginal NVARCHAR(200),
    @ArchivoBase64 TEXT,
    @TipoMIME VARCHAR(100),
    @IdUsuarioSubio INT
AS
BEGIN
    INSERT INTO CMS_Multimedia (NombreOriginal, ArchivoBase64, TipoMIME, IdUsuarioSubio)
    VALUES (@NombreOriginal, @ArchivoBase64, @TipoMIME, @IdUsuarioSubio);
    
    SELECT SCOPE_IDENTITY() AS IdArchivoCreado;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Multimedia_Eliminar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. ELIMINAR MULTIMEDIA
CREATE PROCEDURE [dbo].[usp_CMS_Multimedia_Eliminar]
    @IdArchivo INT
AS
BEGIN
    DELETE FROM CMS_Multimedia WHERE IdArchivo = @IdArchivo;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Multimedia_Listar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR TODOS LOS MULTIMEDIA (Read All)
CREATE PROCEDURE [dbo].[usp_CMS_Multimedia_Listar]
AS
BEGIN
    -- No seleccionamos ArchivoBase64 para no sobrecargar la consulta
    SELECT 
        IdArchivo, 
        NombreOriginal, 
        TipoMIME, 
        IdUsuarioSubio, 
        FechaSubida 
    FROM CMS_Multimedia 
    ORDER BY FechaSubida DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Multimedia_ObtenerPorId]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OBTENER MULTIMEDIA POR ID (Registro Único)
CREATE PROCEDURE [dbo].[usp_CMS_Multimedia_ObtenerPorId]
    @IdArchivo INT
AS
BEGIN
    SELECT * FROM CMS_Multimedia WHERE IdArchivo = @IdArchivo;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Rol_Actualizar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ACTUALIZAR ROL
CREATE PROCEDURE [dbo].[usp_CMS_Rol_Actualizar]
    @IdRol INT,
    @NombreRol NVARCHAR(100),
    @Descripcion NVARCHAR(250)
AS
BEGIN
    UPDATE CMS_Rol
    SET 
        NombreRol = @NombreRol,
        Descripcion = @Descripcion
    WHERE IdRol = @IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Rol_Crear]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. CREAR ROL
CREATE PROCEDURE [dbo].[usp_CMS_Rol_Crear]
    @NombreRol NVARCHAR(100),
    @Descripcion NVARCHAR(250)
AS
BEGIN
    INSERT INTO CMS_Rol (NombreRol, Descripcion)
    VALUES (@NombreRol, @Descripcion);
    
    SELECT SCOPE_IDENTITY() AS IdRolCreado;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Rol_Eliminar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. ELIMINAR ROL
CREATE PROCEDURE [dbo].[usp_CMS_Rol_Eliminar]
    @IdRol INT
AS
BEGIN
    DELETE FROM CMS_Rol WHERE IdRol = @IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Rol_Listar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR TODOS LOS ROLES (Read All)
CREATE PROCEDURE [dbo].[usp_CMS_Rol_Listar]
AS
BEGIN
    SELECT * FROM CMS_Rol ORDER BY NombreRol;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Rol_ObtenerPorId]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OBTENER ROL POR ID (Registro Único)
CREATE PROCEDURE [dbo].[usp_CMS_Rol_ObtenerPorId]
    @IdRol INT
AS
BEGIN
    SELECT * FROM CMS_Rol WHERE IdRol = @IdRol;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Usuario_Actualizar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ACTUALIZAR USUARIO
CREATE PROCEDURE [dbo].[usp_CMS_Usuario_Actualizar]
    @IdUsuario INT,
    @NombreCompleto NVARCHAR(200),
    @Usuario NVARCHAR(100),
    @Password NVARCHAR(200)
AS
BEGIN
    UPDATE CMS_Usuario
    SET 
        NombreCompleto = @NombreCompleto,
        Usuario = @Usuario,
        Password = @Password -- Actualiza contraseña en texto plano
    WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Usuario_Crear]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. CREAR USUARIO
CREATE PROCEDURE [dbo].[usp_CMS_Usuario_Crear]
    @NombreCompleto NVARCHAR(200),
    @Usuario NVARCHAR(100),
    @Password NVARCHAR(200)
AS
BEGIN
    INSERT INTO CMS_Usuario (NombreCompleto, Usuario, Password)
    VALUES (@NombreCompleto, @Usuario, @Password);
    
    SELECT SCOPE_IDENTITY() AS IdUsuarioCreado;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Usuario_Eliminar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. ELIMINAR USUARIO
CREATE PROCEDURE [dbo].[usp_CMS_Usuario_Eliminar]
    @IdUsuario INT
AS
BEGIN
    -- Dado que no hay FKs, la eliminación es directa.
    -- En un modelo real, primero eliminarías relaciones en CMS_UsuarioRol, etc.
    DELETE FROM CMS_Usuario WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Usuario_Listar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR TODOS LOS USUARIOS (Read All)
CREATE PROCEDURE [dbo].[usp_CMS_Usuario_Listar]
AS
BEGIN
    SELECT * FROM CMS_Usuario ORDER BY NombreCompleto;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Usuario_ObtenerPorId]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OBTENER USUARIO POR ID (Registro Único)
CREATE PROCEDURE [dbo].[usp_CMS_Usuario_ObtenerPorId]
    @IdUsuario INT
AS
BEGIN
    SELECT * FROM CMS_Usuario WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_Usuario_ValidarLogin]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. (BONUS) VALIDAR LOGIN
CREATE PROCEDURE [dbo].[usp_CMS_Usuario_ValidarLogin]
    @Usuario NVARCHAR(100),
    @Password NVARCHAR(200)
AS
BEGIN
    SELECT *, (GETDATE()) AS UltimoLoginActualizado
    FROM CMS_Usuario 
    WHERE 
        Usuario = @Usuario 
        AND Password = @Password;
        
    -- Si encontramos un usuario, actualizamos su UltimoLogin
    IF @@ROWCOUNT > 0
    BEGIN
        UPDATE CMS_Usuario
        SET UltimoLogin = GETDATE()
        WHERE Usuario = @Usuario;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_UsuarioRol_Asignar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. ASIGNAR ROL A USUARIO (Create)
CREATE PROCEDURE [dbo].[usp_CMS_UsuarioRol_Asignar]
    @IdUsuario INT,
    @IdRol INT
AS
BEGIN
    -- Gracias al UNIQUE INDEX, esto fallará si la combinación ya existe.
    INSERT INTO CMS_UsuarioRol (IdUsuario, IdRol)
    VALUES (@IdUsuario, @IdRol);
    
    SELECT SCOPE_IDENTITY() AS IdUsuarioRolCreado;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_UsuarioRol_ListarPorUsuario]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR ROLES DE UN USUARIO (Read All - por Usuario)
CREATE PROCEDURE [dbo].[usp_CMS_UsuarioRol_ListarPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT 
        R.IdRol, 
        R.NombreRol, 
        R.Descripcion,
        UR.IdUsuarioRol -- El ID de la asignación
    FROM CMS_Rol R
    JOIN CMS_UsuarioRol UR ON R.IdRol = UR.IdRol
    WHERE UR.IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_UsuarioRol_ObtenerPorId]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. OBTENER RELACIÓN POR ID (Registro Único)
CREATE PROCEDURE [dbo].[usp_CMS_UsuarioRol_ObtenerPorId]
    @IdUsuarioRol INT
AS
BEGIN
    SELECT * FROM CMS_UsuarioRol WHERE IdUsuarioRol = @IdUsuarioRol;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_UsuarioRol_Quitar]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ACTUALIZAR (No es común, se suele quitar y re-asignar)
-- No se implementa SP de actualización para esta tabla.

-- 5. QUITAR ROL DE USUARIO (Delete)
CREATE PROCEDURE [dbo].[usp_CMS_UsuarioRol_Quitar]
    @IdUsuarioRol INT
AS
BEGIN
    DELETE FROM CMS_UsuarioRol WHERE IdUsuarioRol = @IdUsuarioRol;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CMS_UsuarioRol_QuitarPorIds]    Script Date: 03-11-2025 13:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. (BONUS) QUITAR ROL POR IDs DE USUARIO Y ROL
CREATE PROCEDURE [dbo].[usp_CMS_UsuarioRol_QuitarPorIds]
    @IdUsuario INT,
    @IdRol INT
AS
BEGIN
    DELETE FROM CMS_UsuarioRol 
    WHERE IdUsuario = @IdUsuario AND IdRol = @IdRol;
END
GO
