:root {
    --primary-color: #003366; /* Azul institucional */
    --secondary-color: #f8f9fa; /* Gris claro */
    --accent-color: #005ea2;
    --text-color: #333;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    /* Añadimos padding al body para compensar la navbar fija */
    padding-top: 70px;
}

/* Estilos para la navbar que ahora está en Template.Master */
#main-navbar {
    background-color: var(--primary-color) !important;
}

main {
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.card-header {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

/* Spinner overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
}

.loading-overlay .spinner-border {
    width: 3rem;
    height: 3rem;
}
